*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.completeheader{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 13fr;
    background-image: url(../img/Fondo.png);
    background-size: cover;
    background-position: center;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 30%);
    color: white;
    padding: 1% 0%;
}
.blueletter{
    color: aqua;
}
.menuheader{
    display: flex;
    justify-content: space-between;
    height: 80%;
    width: 100%;
    align-items: center;
}
.menuheader li{
    font-weight: 700;
    height: 90%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    cursor: pointer;
}
.menuheader li:hover{
    border: 1px solid rgb(103, 230, 255);
    color: rgb(103, 230, 255);
}
.part1header{
    padding: 1%;
}
li{
    list-style: none;
}
.part2header{
    display: flex;
    align-items: center;
    width: 40%;
    height: 60%;
}
.headerdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.headerdown h1{
    font-size: 35px;
    color: white;
    font-weight: 100;
    padding: .5%;
    margin: 2px;
    background-color: rgba(0, 0, 0, 30%);
}


/*--------------------------------------------------------------------------------------------------------*/

.halfpartblue{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 10fr;
    background-color: #4acafe;
    gap: 30px;  
    min-height: 170px;
}
.squarepart1{
    grid-column: 2/3;
    grid-row: 2/3;
}
.squarepart2{
    grid-column: 3/4;
    grid-row: 2/3;
}
.squarepart3{
    grid-row: 2/3;
    grid-column: 4/5;
}
.squarepart4{
    grid-row: 2/3;
    grid-column: 5/6;
}
.squares{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.squares img{
    width: 25px;
    height: 25px;
}
.squares h1{
  height: 25%;
    font-size: 150%;
    font-weight: 100;
}
.squares p{
  height: 25%;
 font-size: 12px;
}